language: ruby
services: docker
cache:
- bundler
install:
- bundle install
rvm:
- 2.3.0
- 2.4.1
notifications:
  email:
    recipients:
    - sensu-plugin@sensu-plugins.io
    on_success: change
    on_failure: always
script:
- bundle exec rake default
- gem build sensu-plugins-vmstats.gemspec
- gem install sensu-plugins-vmstats-*.gem
before_deploy:
- bash -c "[ ! -d bonsai/ ] && git clone https://github.com/sensu/sensu-go-bonsai-asset.git bonsai || echo 'bonsai/ exists, skipping git clone'"
deploy:
- provider: rubygems
  api_key:
    secure: ALZmspSEe3XiQBKLpuk3YlCiw8U9izPwvAhvdFOr0V5XkuuMIj7h0fRTnEX90LXPcinGDbmUQdMTt0b2QlSuzrV8xGeWBTT3KQnrRAUmWCinbLI/owKmmScLpmhNUIVEZrucpUmbdTMddzymQ3ZAAOXVI3taYf3U6PdEdvQJfbs=
  gem: sensu-plugins-vmstats
  on:
    tags: true
    all_branches: true
    rvm: 2.3.0
    rmv: 2.4.1
    repo: sensu-plugins/sensu-plugins-vmstats
- provider: script
  script: bonsai/ruby-runtime/travis-build-ruby-plugin-assets.sh sensu-plugins-vmstats
  skip_cleanup: true
  on:
    tags: true
    all_branches: true
    rvm: 2.4.1
